legib_dataset.py
get_highest_leg.py
length*
lisibilite*
scene_encoder_visualization.py
control_conditionalUnet1D.py
concept_scene_train.py
README2.md
*ckpt*
*legdiff*
*.ipynb
evaluation.py

__pycache__/
data/f_run_1/*
data/old/*
data/t_run_2/*
data/t_run_3/*

*f_run_1*
*t_run_1*
*t_run_2*
*t_run_*3
*old*

stats_13000.pkl
*dp_13635*
dp_25000*

*ablation*
train_scene*

500e
*1000e*
*2000e*
*100e*

output/test
get*

*.log

*test*
traj_pics
legibility_bounds.txt

*ats*