legib_dataset.py
get_highest_leg.py
length*
lisibilite*
scene_encoder_visualization.py
control_conditionalUnet1D.py
concept_scene_train.py
README2.md
*_ld*
*legdiff*
*.ipynb
evaluation.py

__pycache__/
data/*

stats_13000.pkl
dp_13635.ckpt
dp_25000*